body {
    color: #444;
    background-color: #f3f4eb;
}

a {
    color: #33b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #33b;
}

h1 {
    color: #444;
    font-weight: bold;
    font-style: initial;
    line-height: 1.1em;
}


#container {
    background-color: #f3f4eb;

    display: grid;
    grid-template-columns: minmax(400px, 800px);
    justify-content: center;
}

#content {
    overflow: hidden;
    background-color:#f3f4eb;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3em;
    font-size: 1.2em;
}
