body {
    color: #c5c6c7;
    background-color: #0b0c10;
}

a {
    color: #66fcf1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #45a29e;
}

h1 {
    color: #66fcf1;
    font-weight: bold;
    font-style: initial;
    line-height: 1.1em;
}


#container {
    background-color: #0b0c10;

    display: grid;
    grid-template-columns: minmax(400px, 800px);
    justify-content: center;
}

#content {
    overflow: hidden;
    background-color: #0b0c10;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: 1.2em;
}
