---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
        <div id="left"></div>
        <div id="center">
        <div>
            <a href="/">< Home</a>
        </div>
        {{ content | safe }}
        </div>
        <div id="right"></div>
    </div>
  </body>
</html>